@font-face {
    font-family: NanumBarunGothic;
    src: local(NanumBarunGothic),
    local(NanumBarunGothic),
    url(styles/fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'), /* IE 호환성 */
    url(styles/fonts/NanumBarunGothic.woff) format('woff'), /* 모던 브라우저(IE9+, Chrome, Safari 등) */
    url(styles/fonts/NanumBarunGothic.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family: NanumBarunGothic;
    src: local(NanumBarunGothicBold),
    local(NanumBarunGothicBold),
    url(styles/fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
    url(styles/fonts/NanumBarunGothicBold.woff) format('woff'),
    url(styles/fonts/NanumBarunGothicBold.ttf) format('truetype');
    font-style: normal;
    font-weight: bold;
    unicode-range: U+0-10FFFF;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: NanumBarunGothic, sans-serif;
}

a {
    color : inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}